*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  min-width: 311px;
  margin: 0 auto;
  padding: 0 32px;
  position: relative;
}

@media screen and (min-width:768px) {
  .container{
    max-width: 768px;
    padding: 0 20px 0 20px;
  }
}

@media screen and (min-width:1440px) {
  .container{
    max-width: 1170px;
    padding: 0;
  }
}

ul{
  list-style: none;
}

/* --------------------------HEADER----------------------- */
/* --------------------------HEADER----------------------- */
/* --------------------------HEADER----------------------- */
.header {
  margin-top: 20px;
  position: absolute;
  left: 0;
  right: 0;
  min-width: 311px;
  padding: 0 5px 0 5px;
}

.menu-btn{
  border:none;
  background-color: transparent;
  display: inline-block;
}
.test{
  fill: #f7fbfb;
}


.logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.logo-mob{
  width: 40;
  height: 40px;
}

.logo-desk{
  display: none;
}
.nav-list {
  display: none;

  gap: 80px;
}

.nav-list-item-link{
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2em;
  text-align: left;
  color:rgba(247, 251, 251, 1);
  text-decoration: none;
  
}
.nav-list-item-link:hover{
  border-bottom: 2px solid rgba(247, 251, 251, 1);
}


/* --------------------------HERO----------------------- */
/* --------------------------HERO----------------------- */
/* --------------------------HERO----------------------- */

.hero{
  /* padding-top: 280px; */
  padding-top: 188px;
  padding-bottom: 193px;
  background: url(../img/hero_desk_1920.jpg) no-repeat;
  background-size: cover;
  
  margin-bottom: 52px;
}
.title-1 {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2em;
  text-align: center;
  color:rgba(247, 251, 251, 1);
  margin-bottom: 60px;
}
.title-3 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: center;
  color: rgba(247, 251, 251, 1);
  margin-bottom: 88px;
}

.hero-wrapper {
  display: flex;
}
.hero-btn {
  width: 285px;
  height: 52px;
  background-color: rgba(91, 134, 161, 1);
  margin: 0 auto;
  text-align: center;
  display: block;
  border: none;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
  color: rgba(247, 251, 251, 1);
  cursor: pointer;
}

.hero-btn:hover, .modal-menu-btn:hover{
  background-color: rgba(27, 29, 27, 1);
}
.social-links {
  display: none;
}

.social-icon-a {
  display: inline-block;
  cursor: pointer;
}


.soc_icon_svg {
  width: 40px;
  height: 40px;
  --color1: white; /* Початковий колір */
  transition: fill 0.3s ease; /* Плавний перехід кольору */
}

.social-icon-a:hover .soc_icon_svg {
  --color1:rgba(91, 134, 161, 1);
}

.soc_icon_svg use {
  fill: var(--color1);
}


/* --------------------------ABOUT----------------------- */
/* --------------------------ABOUT----------------------- */
/* --------------------------ABOUT----------------------- */
.title-2{
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2em;
  text-align: center;
  margin-bottom: 28px;

}

.space{
  margin-bottom: 8px;
}
.about-us-content{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;

}

.about-us{
  /* margin-bottom: 80px; */
  margin-bottom: 52px;
}


/* --------------------------ADV----------------------- */
/* --------------------------ADV----------------------- */
/* --------------------------ADV----------------------- */
.our-advantages{
  /* margin-bottom: 80px; */
  margin-bottom: 52px;
  display: flex;
  
}
/* .adv-images-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: o auto;
} */

.faf{
  /* margin-top: 80px; */
  display: none;
}
.adv-image-one{
  width: 315px;
  height: 554px;
}

.fof{
  /* margin-top: 160px; */
  display: none;
}

.adv-list{
  display: flex;
  flex-direction: column;
  height: 380px;
  justify-content: space-around;
  gap: 24px;
  position: absolute;
  transform: translate(0px, -440px);
}

.adv-list-item{
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: rgba(247, 251, 251, 1);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: left;
  width: 315px;
  height: 40px;
  top: 1941px;
  left: 406px;
  gap: 0px;
  opacity: 0px;
  background-color: rgba(91, 134, 161, 1);
}

.adv-list-item-img{
  margin-right: 12px;
}


/* --------------------------Tours----------------------- */
/* --------------------------TOURS----------------------- */
/* --------------------------TOURs----------------------- */
.tours-list{
  display: none;
  gap: 20px;
}

.tours-list-item {
  border: 1px solid rgba(91, 134, 161, 1);
  background-color: rgba(247, 251, 251, 1);
  /* padding: 0 20px 48px 20px; */
  max-width: 377px;  
}

.list-item-text-content{
  display: flex;
  flex-direction: column;
 
  gap: 16px;
  max-width: 376px;
  padding: 0 20px 48px 20px;
  border-top: none;
}

.tours-list-item-img{
  width: 310px;
  height: 338px;
  margin-bottom: 28px;
}
.title-4 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  text-align: left;

}
.tours-text-content {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: left;
}
.tours-btn {
  margin-top: 4px;
  width: 270px;
  height: 53px;
  background: rgba(91, 134, 161, 1);
  border: none;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
  color: rgba(247, 251, 251, 1);
  cursor: pointer;
}
.tours-btn:hover{
  background-color: rgba(27, 29, 27, 1);
}
.upcoming-tours{
  margin-bottom: 102px;
}

.splide{
  max-width: 311px;
  margin: 0 auto;
}

/* Стилі для стрілок */
.splide__arrows {
  top: 40px;
  left: 72px;
  position: relative; 
  bottom: -24px; 
  z-index: 1;
  margin: 0 auto;

}

.splide__arrow {
  width: 28px;
  height: 28px;
  background-color: white;
  margin-right: 140px;
}
/* --------------------------REV----------------------- */
/* --------------------------REV----------------------- */
/* --------------------------REV----------------------- */
.reviews-list{
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto;
  width: 310px;
}
.reviews-bg-img{
  width: 308px;
  height: 134px;
}
.reviews-list-img{
  width: 100px;
  height: 100px;
}
.reviews-list-item{
  
  height: 452px;
  border: 1px solid rgba(91, 134, 161, 1);
  background-color: rgba(247, 251, 251, 1);
}

.reviews-list-img{
  position: absolute;
  transform: translate(-200px, 80px);
}

.display{
  display: none;
}

.title-5{
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  text-align: center;
  margin-top: 70px;
  color: rgba(91, 134, 161, 1);
  margin-bottom: 16px;
}

.reviews-list-item-content{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2em;
  text-align: left;
  padding: 0 35px 0 35px;
    
}

.reviews{
  margin-bottom: 52px;
}

/* --------------------------GAL----------------------- */
/* --------------------------GAL----------------------- */
/* --------------------------GAl----------------------- */
.gallery-list{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-list-right-left{
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 24px;
}

.gallery-list-item-img{
  width: 280px;
  height: 480px;
}
.btn-left, .btn-right{
  width: 40px;
  height: 40px;
  border: none;
  background: none;
}

.gallery{
  margin-bottom: 52px;
}


/* --------------------------QUE----------------------- */
/* --------------------------QUE----------------------- */
/* --------------------------QUE----------------------- */
.questions{
  background-image: url(../img/que.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* padding-top: 245px;
  padding-bottom: 245px; */
  padding-top: 116px;
  padding-bottom: 117px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(247, 251, 251, 1);
  width: 311px;
  padding: 28px 20px 28px 20px;
  margin: 0 auto;
  margin-right: 0;
  margin-left: 0;
}
.form-input-list{
  display: flex;
  flex-direction: column;
  gap: 28px;
  /* margin-top: 44px;
  margin-bottom: 44px; */
  margin-top: 24px;
  margin-bottom: 24px;
}
.form-title {
  /* font-family: Montserrat;
  font-size: 48px;
  font-weight: 500;
  line-height: 58.51px;
  text-align: center;
  display: inline-block; */
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.38px;
  text-align: center;

}
.form-content {
  /* font-family: Montserrat;
  max-width: 500px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  text-align: center;
  margin-top: 32px; */
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: center;
  margin-top: 20px;

}


.form-input {
  /* width: 575px; */
  width: 271px;
  border: none;
  border-bottom: 1px solid rgba(163, 165, 163, 1);
  /* font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.26px; */
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
  color: rgba(32, 35, 33, 1);
  background-color: rgba(247, 251, 251, 1);
}

.form-input:focus, .modal-form-input{
  border-bottom: 1px solid rgba(163, 165, 163, 1);
  outline: none;
}
.form-btn {
  /* width: 579px; */
  width: 271px;
  height: 52px;
  border: none;
  background-color: rgba(91, 134, 161, 1);
  color: rgba(247, 251, 251, 1);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 29.26px;
  cursor: pointer;
}

.form-btn:hover{
  background-color: rgba(27, 29, 27, 1);
}

.form-wrapper{
  display: flex;
  justify-content: center;
}

/* --------------------------FOOTER----------------------- */
/* --------------------------FOOTER----------------------- */
/* --------------------------FOOTER----------------------- */

.footer{
  background-color: rgba(32, 35, 33, 1);
  /* padding-top: 60px;
  padding-bottom: 48px; */
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* gap: 128px; */
  gap: 28px;
  margin: 0 auto;
}
.footer-title {
  /* margin-right: 128px; */
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 400;
  line-height: 73.14px;
  text-align: center;
  color: rgba(247, 251, 251, 1);
}
.footer-inf-list {
  display: flex;
  flex-direction: column;
  /* gap: 40px; */
  gap: 20px;
  /* margin-top: 17px; */
}
.footer-inf-list-item {
  display: flex;
  align-items: center;
  
  gap: 8px;
}
.footer-img {
  /* width: 40px;
  height: 40px; */
  width: 32px;
  height: 32px;
}
.footer-inf {
  color: rgba(247, 251, 251, 1);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2em;
}

.footer-soc-list{
  display: flex;
  gap: 32px;
}

.copy{
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.86px;
  color: rgba(163, 165, 163, 1);
  /* margin-top: 64px; */
  margin-top: 40px;
}

/* --------------------------MODAL----------------------- */
/* --------------------------MODAL----------------------- */
/* --------------------------MODAL----------------------- */

.back-drop {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu {
  width: 774px;
  min-height: 745px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: rgba(247, 251, 251, 1);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px 100px 60px 100px;
}

.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-menu-close-btn{
  margin-top: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: rgba(247, 251, 251, 1);
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}

.modal-title{
  margin-top: 76px;
  font-family: Montserrat;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.2em;
  text-align: center;
  margin-bottom: 28px;
}

.modal-text-content{
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2em;
  text-align: center;
  margin-bottom: 32px;
}

.modal-form{
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 28px;
}

.modal-form-input{
  width: 575px;
  height: 37px;
  border: none;
  background-color: rgba(247, 251, 251, 1);
  border-bottom: 1px solid rgba(163, 165, 163, 1);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2em;
  text-align: left;
}

/* Приховуємо стандартний чекбокс */
.custom-checkbox input[type="checkbox"] {
  display: none;
}


.custom-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.26px;
  text-align: left;

}

/* Створюємо кастомний чекбокс */
.custom-checkbox .checkmark {
  width: 24px;
  height: 24px;
  background-color: #eee;
  border: 2px solid #ddd;
  border-radius: 3px;
  margin-right: 12px;
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(247, 251, 251, 1);
  border: 1px solid black;
  border-radius: 0%;
}

.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark:after {
  display: block;
}

.custom-checkbox .checkmark:after {
  width: 12px; 
  height: 10px; 
  background-image: url('../img/Vector.svg');
  background-size: cover;
}

.check-boxes{
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 44px;
}

.modal-menu-btn{
  width: 575px;
  height: 69px;
  border: none;
  background-color: rgba(91, 134, 161, 1);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2em;
  color:rgba(247, 251, 251, 1);
}

/* ----------------------------TABLET---------------------------- */
/* ----------------------------TABLET---------------------------- */
/* ----------------------------TABLET---------------------------- */
@media screen and (min-width:768px) {
  .title-1{
    font-family: Montserrat;
    font-size: 68px;
    font-weight: 400;
    line-height: 82.89px;
    text-align: center;
    
  }
  .logo-mob{
    width: 56px;
    height: 58px;
  }
  .title-3{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
    text-align: center;
    width: 470px;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  .hero{
    padding-top: 180px;
    padding-bottom: 185px;
    margin-bottom: 80px;
  }

  .title-2{
    font-family: Montserrat;
    font-size: 52px;
    font-weight: 400;
    line-height: 63.39px;
    text-align: center;
    margin-bottom: 40px;
  }

  .about-us{
    margin-bottom: 80px;
  }

  .about-us-content{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.38px;
    text-align: left;
  }

  .adv-images-list{
    display: flex;
    gap: 20px; 
  }

  .our-advantages{
    margin-bottom: 80px; 
    margin-bottom: 52px;
    display: block;
  }

  .faf{
    display: block;
  }

  .adv-image-two{
    margin-top: 203px;
  }

  .adv-image-two, .adv-image-one{
    width: 354px;
    height: 441px;
  }
  
  .fof{
    display: none;
  }
  
  .adv-list{
    height: 484px;
    gap: 20px;
    transform: translate(50px, -570px);
  }
  
  .adv-list-item{
    padding-left: 44px;
    width: 630px; 
    height: 64px;
  }

  .tours-list-item {
    max-width: 354px;
  }

  .tours-list-item-img{
    width: 353px;
    height: 357px;
    /* width: 376px; */
    margin-bottom: 48px;
  }

  .tours-list-item{
    width: 354px;
  }

  .splide{
    min-width: 740px;
    margin: 0 auto;
  }

  .tours-btn {
    margin-top: 20px;
    width: 314px;
    height: 56px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
  }

  .title-4{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2em;
  }
  
  .tours-text-content {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2em;
  }

  .list-item-text-content{
    gap: 20px; 
  }

  .splide__arrows {
    top: 40px;
    left: 280px;
    position: relative; 
    bottom: -24px; 
    z-index: 1;
    margin: 0 auto;
  
  }
  
  .splide__arrow {
    width: 28px;
    height: 28px;
    background-color: white;
    margin-right: 570px;
  }

  .splide__slide .is-visible .is-next{
    min-width: 350px;
  }

  .reviews-list{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
  }
  .reviews-bg-img{
    width: 354px;
    height: 134px;
  }
  .reviews-list-item{
    height: 504px;
    border: 1px solid rgba(91, 134, 161, 1);
  }
  
  .reviews-list-img{
    position: absolute;
    transform: translate(-225%, 80%);
  }

  .display{
    display: none;
  }
  
  .title-5{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2em;
    text-align: center;    
    margin-top: 74px;
    color: rgba(91, 134, 161, 1);
    margin-bottom: 24px;
  }
  
  .reviews-list-item-content{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.38px;
    text-align: left;
    
    padding: 0 20px 0 20px;
  }

  .gallery-list{
    display: flex;
    gap: 20px;
  }

  .gallery-list-item-img{
    width: 354px;
    height: 275px;
  }
  .gallery{
    margin-bottom: 80px;
  }
  .questions{
    padding-top: 88px;
    padding-bottom: 88px;
  }
  
  .form {
    width: 478px;
    padding: 40px 42px 40px 42px;
    margin: 0 auto;
    margin-right: 0;
    margin-left: 0;
  }

  .form-input-list{
    gap: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .form-title {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 500;
    line-height: 39.01px;
    text-align: center;
  }
  .form-content {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
    text-align: center;
    margin-top: 24px;
  }
  .form-input {
    width: 394px;
    font-size: 20px;
    font-weight: 400;
  }
  
  .form-input:focus, .modal-form-input{
    border-bottom: 1px solid rgba(163, 165, 163, 1);
    outline: none;
  }
  .form-btn {
    width: 394px;
    height: 56px;
    font-size: 20px;
  }
  
  .footer{
    padding-top: 64px;
    padding-bottom: 63px;
  }
  
  .footer-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: start;
    gap: 137px;
    margin: 0 auto;
  }
  .footer-title {
    font-size: 32px;
    line-height: 1.2em;
  }
  .footer-inf-list {
    gap: 40px;
  }
  .footer-inf-list-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .footer-img {
    width: 40px;
    height: 40px;
  }
  .footer-inf {
    font-size: 18px;
    line-height: 1.2em;
  }
  
}  


/* ----------------------------DESK---------------------------- */
/* ----------------------------DESK---------------------------- */
/* ----------------------------DESK---------------------------- */
@media screen and (min-width:1440px) {
  .nav-list{
    display: flex;
  }

  .menu-btn{
    display: none;
  }

  .logo{
    display: none;
  }

  .logo-desk{
    display: block;
  }
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title-1{
    font-family: Montserrat;
    font-size: 88px;
    font-weight: 400;
    line-height: 1.2em;
    text-align: center;
    color: rgba(247, 251, 251, 1);
    margin-bottom: 40px;

  }

  .title-3{
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 500;
    line-height: 34.13px;
    text-align: center;
    min-width: 675px;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  .hero{
    padding-top: 280px;
    padding-bottom: 293px;
    margin-bottom: 80px;
  }

  .hero-btn{
    width: 575px;
    height: 69px; 
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2em;
  }

  .social-links{
      display: flex;
      flex-direction: column;
      gap: 32px;
  }
  .title-2{
    font-family: Montserrat;
    font-size: 68px;
    font-weight: 400;
    line-height: 82.89px;
    text-align: center;
    margin-bottom: 60px;
  }

  .about-us{
    margin-bottom: 80px;
  }

  .about-us-content{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.26px;
    text-align: left;
  }
  .our-advantages{
    margin-bottom: 80px; 
    margin-bottom: 52px;
    display: block;
  }

  .faf{
    display: block;
  }
  .fof{
    display: block;
  }

  .adv-image-three{
    margin-top: 80px;
  }

  .adv-image-one, .adv-image-three{
    width: 377px;
    height: 588px;
  }

  .adv-image-two{
    width: 377px;
    height: 507px;
    margin-top: 80px;
  }

  
  .adv-list{
    height: 514px;
    gap: 20px;
    transform: translate(270px, -593.5px);
  }
  
  .adv-list-item{
    padding-left: 44px;
    width: 630px; 
    height: 64px;
  }

  .splide{
    display: none;
  }

  .tours-list{
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .tours-list-item {
    border: 1px solid rgba(91, 134, 161, 1);
    background-color: rgba(247, 251, 251, 1);
    /* padding: 0 20px 48px 20px; */
    min-width: 377px;
  }
  
  .list-item-text-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 376px;
    padding: 0 20px 48px 20px;
    border-top: none;
  }
  
  .tours-list-item-img{
    height: 438px;
    width: 376px;
    margin-bottom: 28px;
  }
  .title-4 {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2em;
    text-align: left;
  }
  .tours-text-content {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    text-align: left;

  }
  .tours-btn {
    margin-top: 16px;
    width: 337px; 
    height: 69px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2em;
  }
  .upcoming-tours{
    margin-bottom: 80px;
  }

  .reviews-list{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .display{
    display: block;
  }
  .reviews-bg-img{
    width: 377px;
    height: 134px;
  }
  .reviews-list-item{
    height: 570px;
    border: 1px solid rgba(91, 134, 161, 1);
  }
  .reviews-list-img{
    width: 125px;
    height: 125px;
  }
  .reviews-list-img{
    position: absolute;
    transform: translate(-200%, 50%);
  }
  
  .title-5{
    font-size: 28px;
    line-height: 1.2em;
    margin-top: 83px;
    margin-bottom: 24px;
  }
  
  .reviews-list-item-content{
    padding: 0 28px 103px 28px;
    font-size: 20px;
  }
  
  .reviews{
    margin-bottom: 80px;
  }

  .gallery-list{
    display: flex;
    gap: 20px;
  }

  .gallery-list-item-img{
    width: 575px;
    height: 445px;
  }
  .gallery{
    margin-bottom: 80px;
  }

  .questions{
    padding-top: 244px;
    padding-bottom: 247px;
  }
  
  .form {
    width: 774px;
    padding: 60px 47px 60px 46px;
  }

  .form-input-list{
    gap: 28px;
    margin-top: 44px;
    margin-bottom: 44px;
  }

  .form-title {
    font-size: 48px;
    line-height: 1.2m;
  }

  .form-content {
    width: 502px;
    font-size: 20px;
    line-height: 1.2em;
  }

  .form-input {
    width: 575px;
    font-size: 24px;
  }
  
  .form-btn {
    width: 575px;
    height: 69px;
  }

  .footer{
    padding-top: 60px;
    padding-bottom: 48px;
  }
  
  .footer-wrapper{
    gap: 128px;
  }

  .footer-title {
    font-size: 60px;
    line-height: 1.2em;
  }

  .footer-img {
    width: 40px;
    height: 40px;
  }

  .footer-inf {
    font-size: 24px;
    line-height: 1.2em;
  }

  .copy{
    margin-top: 64px;
  }
}